#lens{
    height: 25px;
}

#sony_logo{
    width: 75px;
}

#returnal-hero-banner-logo{
    width: 100%;
}

.row.jumbotron{
    padding-top: 250px; 
    padding-bottom: 100px;
}

#bg-1{
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
    padding-top: 250px; 
    padding-bottom: 100px;
}

#bg-2{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;
}


.ms_btn-red{
    background-color: rgb(191, 72, 37) !important; 
}

.ms_rounded{
    border-radius: 20px;
}