.ms_sony-logo{
    width: 75px;
}

.row.jumbotron{
    padding-top: 250px; 
}

.ms_mt-100px{
    margin-top: 100px;
}

.ms_bg-1{
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
}

.ms_bg-2{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;
}

.ms_bg-3{
    background-color: rgb(185, 185, 185);
}


.ms_bg-4{
    background-color: rgb(17, 32, 80);
}

.ms_bg-5{
    background-color: rgb(22, 69, 150);
}

.banner-logo{
    width: 80%;
    max-width: 300px;
}

.ms_language-globe{
    height: 15px;
}

.ms_sie-logo{
    width: 150px;
}

.ms_btn-red{
    background-color: rgb(191, 72, 37) !important; 
}

.ms_rounded{
    border-radius: 20px;
}

.dropdown-toggle{
    position: relative !important;
    margin-right: 15px; 
}
.dropdown-toggle::after {
    content: url(../img/chevron-down-solid-hover.svg) !important;
    opacity: 0.5;
    border: 0 !important;
    width: 10px;
    position: absolute !important;
    top: 50% !important;
    transform: translateY(-50%);
}

.ms_btn-src img{
    height: 1.5rem;
}