#lens{
    height: 25px;
}

#sony_logo{
    width: 75px;
}

#returnal-hero-banner-logo{
    width: 100%;
}
.jumbotron-bg{
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
    padding-top: 250px; 
    padding-bottom: 100px;
}

.jumbotron .btn{
    background-color: rgb(191, 72, 37);
}

.jumbotron .thumb{
    border-radius: 25px;
}