#lens{
    height: 25px;
}

#sony_logo{
    width: 75px;
}

#returnal-hero-banner-logo{
    width: 100%;
}

.row.jumbotron{
    padding-top: 250px; 
    padding-bottom: 100px;
}

.ms_mt-100px{
    margin-top: 100px;
}

#bg-1{
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
    padding-top: 250px; 
    padding-bottom: 100px;
}

#bg-2{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;
}

#bg-3{
    background-color: rgb(185, 185, 185);
}


#bg-4{
    background-color: rgb(17, 32, 80);
}

#bg-5{
    background-color: rgb(22, 69, 150);
}

#ps-plus-logo{
    width: 80%;
    max-width: 300px;
}

#language-globe{
    height: 15px;
}

#sie-logo{
    width: 150px;
}

.ms_btn-red{
    background-color: rgb(191, 72, 37) !important; 
}

.ms_rounded{
    border-radius: 20px;
}

.dropdown-toggle{
    position: relative !important;
}
.dropdown-toggle::after {
    content: url(../img/chevron-down-solid-hover.svg) !important;
    color: black;
    border: 0 !important;
    width: 10px;
    position: absolute !important;
    top: 50% !important;
    transform: translateY(-50%);
}